<!DOCTYPE html>
<html lang="en">
<head>
 <%- include layout/head %>
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%- include layout/header_mobile %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%- include layout/siderbar %>
        <!-- END MENU SIDEBAR-->
        <%- include layout/container %>
        <!-- PAGE CONTAINER-->
      

    </div>
    <%- include layout/javascript %>
 

</body>
</html>