<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../layout/head %>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#content-input'
        });
    </script>
</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <!-- HEADER MOBILE-->
        <%- include ../layout/header_mobile %>
        <!-- END HEADER MOBILE-->
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%- include ../layout/siderbar_post %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">

            <%- include ../layout/header-desktop %>
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Add New</strong> Post
                                    </div>
                                    <form action="/admin/post/new" method="POST"  class="form-horizontal">
                                    <div class="card-body card-block">                                       
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="title-input" class=" form-control-label">Title</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="title-input" name="title" placeholder="Enter Titile"
                                                        class="form-control">
                                                    <small class="help-block form-text">Please enter title</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="content-input" class=" form-control-label">Content</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="content" id="content-input">
                                                                &lt;p&gt;This is some sample content.&lt;/p&gt;
                                                        </textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="author-input" class=" form-control-label">Author</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="author-input" name="author" placeholder="Enter author"
                                                        class="form-control">
                                                    <small class="help-block form-text">Please enter author</small>
                                                </div>
                                            </div>                                       
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Save
                                        </button>
                                    </form>
                                        <a href="/admin/posts" target="_parent">
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Back
                                            </button>
                                        </a>
                                        <% if(data && data.error)
                                        {
                                        %>
                                        <div class="sufee-alert alert with-close alert-warning alert-dismissible fade show">
                                                <span class="badge badge-pill badge-danger">Warning</span>
                                                <%=data.error%>.
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                        </div>
                                        <%
                                        }
                                        %>
                                        <% if(data && data.errorAdd)
                                        {
                                        %>
                                        <div class="alert alert-danger" role="alert">
                                                <h4 class="alert-heading">Error</h4>
                                                <p> <%=data.errorAdd%>..</p>
                                                <hr>
                                                <p class="mb-0">Hãy liên hệ với nhà cung cấp.</p>
                                            </div>
                                        <%
                                        }
                                        %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <%- include ../layout/javascript %>
</body>

</html>

</html>